---
---

// Override Minimal Mistakes type sizes before importing the theme
$type-size-1: 1.563em;  // down from 2.441
$type-size-2: 1.25em;   // down from 1.953
$type-size-3: 1.125em;  // down from 1.563
$type-size-4: 1em;      // down from 1.25
$type-size-5: 0.875em;  // down from 1
$type-size-6: 0.75em;   // down from 0.75
$type-size-7: 0.6875em; // down from 0.6875
$type-size-8: 0.625em;  // down from 0.625

$doc-font-size: 15;     // down from 16

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";
@import "custom";
